
@using KmuDolmus.Models
@model List<Hatlar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_TestLayout.cshtml";
}



<table class="table table-bordered ">
    <tr>

        <th>Hatlar</th>
        <th>Kalkış Saatleri</th>
        <th>Yön</th>
        <th>Gün</th>

    </tr>
    @foreach (var x in Model)
    {
        /*
        <br />
        <form class="form-group" method="post">
           <b>Gün Seç</b>
            @Html.TextBoxFor(x=>x.Gunad)
        </form>
        <br />
       */
         DateTime now = DateTime.Now;
        DateTime dateTime = Convert.ToDateTime(x.hat_saat);

        DateTime saat = now;
        string st = saat.ToString();

        DateTime saat2 = saat.AddHours(1);
        if (dateTime.TimeOfDay >= saat.TimeOfDay && dateTime.TimeOfDay <= saat2.TimeOfDay)
        {
            <tr>
                <th>@x.hat_Numara</th>
                <th>@x.hat_saat</th>
                <th>@x.Yon.Yonad</th>
                <th>@x.Gun.GunAd</th>
               
            </tr>
        }
    }



</table>

